.formWrapper {
  position: relative;
  min-height: 500px;
}

.loaderOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  pointer-events: none;
}

.taskForm {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 640px;
}

.formContent {
  border-radius: 8px;
  border: 4px double rgba(17, 121, 18, 0.2);
  padding: 12px;
}

.selectContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}

.select {
  padding: 6px;
  padding-left: 12px;
  border-radius: 6px;
  border: 1px solid rgba(17, 121, 18, 0.2);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-family: var(--font-geist-mono);
}

.select:hover,
.select:focus,
.select:focus-visible {
  outline: none;
  border-color: rgba(17, 121, 18, 0.6);
  box-shadow: 0px 4px 8px rgba(150, 246, 185, 0.505);
}

.typeContainer {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.typeTitle {
  margin-top: 12px;
  margin-left: 6px;
}

.questionsContainer {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.questionHandlerBox {
  position: relative;
}

.questionWrapper {
  list-style: none;
  padding: 12px;
  border-radius: 6px;
  border: 2px dotted rgba(17, 121, 18, 0.2);
  width: 100%;
}

.questionTitleBox {
  display: flex;
  align-items: center;
  gap: 12px;
  justify-content: space-between;
}

.deleteQuestionBtn {
  width: fit-content;
  border-radius: 4px;
  background-color: transparent;
  border: none;
  opacity: 0.7;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 18px;
  color: crimson;

  display: flex;
  align-items: center;
  gap: 6px;
}

.deleteQuestionBtn span {
  font-size: 14px;
}

.deleteQuestionBtn:hover,
.deleteQuestionBtn:focus {
  transform: scale(1.02);
  opacity: 1;
}

.questionTitle {
  margin: 6px 0 6px 4px;
}

.highlight {
  font-weight: 600;
}

.questionOptin {
  width: 100%;
}

.deleteBtn,
.addBtn {
  width: fit-content;
  border-radius: 4px;
  background-color: transparent;
  border: none;
  opacity: 0.7;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.deleteBtn {
  position: absolute;
  right: 12px;
  top: 6px;
  font-size: 18px;
  color: crimson;
}

.deleteBtn:hover,
.deleteBtn:focus {
  transform: scale(1.2);
  opacity: 1;
}

.addBtn {
  color: var(--btn);
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 8px 12px;
}

.addBtn:hover,
.addBtn:focus {
  transform: scale(1.1);
  color: var(--btn-hover);
}

.btnContainer {
  display: flex;
  justify-content: center;
}

.addQuestionBtn {
  display: flex;
  align-items: center;
  padding: 8px 12px;
  gap: 6px;
  border-radius: 4px;
  background-color: rgba(103, 233, 104, 0.6);
  border: none;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 16px;
}

.addQuestionBtn:hover,
.addQuestionBtn:focus {
  color: var(--background);
  background-color: var(--btn-hover);
}

.createUpdateBtn {
  padding: 8px 12px;
  border-radius: 6px;
  border: 1px solid rgba(17, 121, 18, 0.2);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 18px;
  color: var(--foreground);
  background-color: var(--btn);
}

.createUpdateBtn:hover,
.createUpdateBtn:focus {
  background-color: var(--btn-hover);
}
.cancelBtn {
  padding: 8px 12px;
  border-radius: 6px;
  border: none;
  font-size: 18px;
  color: var(--foreground);
  background-color: rgba(193, 249, 196, 0.6);
}

.cancelBtn:hover {
  background-color: var(--btn-hover);
}

.testTitle {
  margin: 6px 0 0 4px;
}

.testsContainer {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.testWrapper {
  display: flex;
  justify-content: space-between;
  gap: 12px;
  padding: 12px;
  border-radius: 6px;
  border: 2px dotted rgba(17, 121, 18, 0.2);
  width: 100%;
}

.testInputs {
  width: 100%;
}

.deleteTestBtn {
  border-radius: 4px;
  background-color: transparent;
  border: none;
  opacity: 0.7;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 18px;
  color: crimson;
}

.deleteTestBtn:hover,
.deleteTestBtn:focus {
  margin-left: 24px;
  transform: scale(1.2);
  opacity: 1;
}
