.authForm {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.inputField {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 8px;
  border: none;
  color: var(--accent-dark);
}

.authLabel {
  margin-left: 6px;
}

.authInput {
  overflow: hidden;
  resize: none;
  padding: 12px 18px;
  border-radius: 6px;
  border: 1px solid rgba(17, 121, 18, 0.2);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
}

.authInput::placeholder {
  font-family: var(--font-geist-mono);
}

.authInput:hover,
.authInput:focus,
.authInput:focus-visible {
  outline: none;
  border-color: rgba(17, 121, 18, 0.6);
  box-shadow: 0px 4px 8px rgba(150, 246, 185, 0.505);
}

.authIcon {
  top: 52px;
}

.authError {
  position: absolute;
  color: crimson;
  bottom: -22px;
  left: 6px;
}

.authBtnContainer {
  margin-top: 24px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.authBtn {
  width: 200px;
}
