.editorSection {
  margin-top: 24px;
}

.editorContainer {
  margin: 12px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 900px;
  border: 4px double rgba(17, 121, 18, 0.2);
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  background-color: var(--background);
  z-index: 4;
}

.outputBox {
  margin-top: 12px;
  font-size: 16px;
}

.outputBox strong {
  display: block;
  margin-bottom: 12px;
}

.testResult {
  font-family: var(--font-geist-sans);
  list-style: none;
}

.confetti {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  opacity: 0;
  transition: opacity 2s ease-out;
  z-index: 9999;
}

.visible {
  opacity: 1;
}

@media only screen and (min-width: 768px) {
  .editorContainer {
    padding: 24px;
    margin: 24px;
  }
}

@media only screen and (min-width: 1024px) {
  .editorSection {
    margin-left: auto;
    margin-right: auto;
  }
  .editorContainer {
    padding: 24px;
    margin: 24px auto;
  }
}
