.section {
  padding: 24px;
  padding-top: 0;
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: center;
}

.title {
  color: var(--accent-dark);
  margin-bottom: 24px;
  text-align: center;
}

.noResult {
  font-size: 1rem;
  margin-left: 24px;
}

@media only screen and (min-width: 768px) {
  .section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 48px;
    padding-top: 24px;
  }
}

@media only screen and (min-width: 1024px) {
  .section {
    padding: 48px;
    padding-top: 24px;
  }
}

@media only screen and (min-width: 1440px) {
  .section {
    display: grid;
    grid-template-columns: 2fr 3fr;
    justify-content: center;
  }
}
